.link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  padding: 0 10px 5px 10px;
}

.active {
  composes: link;
  color: rgb(255, 100, 80);
}

.navigation {
  list-style-type: none;
  height: 50px;
  outline: none;
  box-shadow: 0 4px 6px -2px gray;
}

.navigation li {
  float: left;
  text-decoration: none;
}

.navigation li a:hover {
  box-shadow: 0 5px 2px -2px rgb(255, 100, 80);
}